@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-LightItalic.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
}

/* Regular (400) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-RegularItalic.woff2")
        format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* Medium (500) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-MediumItalic.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
}

/* SemiBold (600) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-SemiBold.woff2")
        format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-SemiBoldItalic.woff2")
        format("woff2");
    font-weight: 600;
    font-style: italic;
}

/* Bold (700) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-BoldItalic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold (800) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-ExtraBold.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-ExtraBoldItalic.woff2")
        format("woff2");
    font-weight: 800;
    font-style: italic;
}

/* Black (900) */
@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "JuliaMono";
    src: url("../assets/fonts/JuliaMono/JuliaMono-BlackItalic.woff2")
        format("woff2");
    font-weight: 900;
    font-style: italic;
}
