.layout {
    display: flex;
    justify-content: center;
}

main {
    max-width: 70ch;
    width: 100%;
    margin: 0 auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}

@media (max-width: 500px) {
    article {
        max-width: 50ch;
    }
}
