:root {
    --fs-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
    --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
    --fs-md: clamp(1.25rem, 0.45vi + 1.14rem, 1.5rem);
    --fs-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
    --fs-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
    --fs-xxl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
    --fs-xxxl: clamp(3.05rem, 3.06vi + 2.29rem, 4.73rem);
}

:root {
    --color-red: #cc3333;
    --color-red-warmer: #dd1100;
    --color-red-cooler: #c04440;
    --color-red-faint: #a2403f;
    --color-green: #217a3c;
    --color-green-warmer: #4a7d00;
    --color-green-cooler: #008058;
    --color-green-faint: #61756c;
    --color-yellow: #8a5d00;
    --color-yellow-warmer: #9f4a00;
    --color-yellow-cooler: #8f5a3a;
    --color-yellow-faint: #765640;
    --color-blue: #375cd8;
    --color-blue-warmer: #4250ef;
    --color-blue-cooler: #065fff;
    --color-blue-faint: #6060d0;
    --color-magenta: #ba35af;
    --color-magenta-warmer: #cf25aa;
    --color-magenta-cooler: #6052cf;
    --color-magenta-faint: #af569f;
    --color-cyan: #1f6fbf;
    --color-cyan-warmer: #3f70a0;
    --color-cyan-cooler: #1f77bb;
    --color-cyan-faint: #406f90;

    --background-color: #fff8f0;
    --foreground-color: #222222;
    --link-color: var(--color-cyan);
    --link-visited-color: var(--color-magenta);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-red: #ef656a;
        --color-red-warmer: #f47360;
        --color-red-cooler: #ef798f;
        --color-red-faint: #d08f72;
        --color-green: #1fa526;
        --color-green-warmer: #50a22f;
        --color-green-cooler: #00b982;
        --color-green-faint: #61a06c;
        --color-yellow: #c48702;
        --color-yellow-warmer: #d0730f;
        --color-yellow-cooler: #df805f;
        --color-yellow-faint: #9f8f6a;
        --color-blue: #379cf6;
        --color-blue-warmer: #6f80ff;
        --color-blue-cooler: #029fff;
        --color-blue-faint: #8a9fdf;
        --color-magenta: #d369af;
        --color-magenta-warmer: #e580ea;
        --color-magenta-cooler: #af85ff;
        --color-magenta-faint: #c57faf;
        --color-cyan: #5faaef;
        --color-cyan-warmer: #7fafff;
        --color-cyan-cooler: #0dafdf;
        --color-cyan-faint: #8aa0df;

        --background-color: #070019;
        --background-dim: #1d1a26;
        --background-alternate: #2a2739;
        --foreground-color: #d0d0d0;
        --link-color: var(--color-cyan);
        --link-visited-color: var(--color-magenta);
    }
}

html {
    font-size: var(--fs-base);
}

body {
    font-family: "IBM Plex Serif", serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visted {
    color: var(--link-visited-color);
}

code {
    font-family: "JuliaMono", monospace;
    line-height: 1.4;
}

h1 {
    font-size: var(fs-xxl);
}

/* Acceptable color hack for fletcher diagrams */
@media (prefers-color-scheme: dark) {
    svg.typst-frame {
        /* Inverts black to white, preserves hue (mostly) */
        filter: invert(1) hue-rotate(180deg);
        /*fill: currentColor;
        stroke: currentColor;*/
    }
}

figure.typst {
    display: flex;
    justify-content: center; /* Centers horizontally */

    /* Optional: removes the default browser margins on <figure> */
    /*margin: 0;*/
    /*margin-top: 1em;
    margin-bottom: 1em;*/
    /* Optional: ensures the figure doesn't overflow its container */
    max-width: 100%;
}

/*svg,
svg * {
    fill: currentColor !important;
    stroke: currentColor !important;
}*/

/*svg:not([data-preserve-colors]) * {
    fill: var(--foreground-color) !important;
    stroke: var(--foreground-color) !important;
}*/

/*figure.typst {
    background-color: var(--background-color);
    color: var(--foreground-color);
}*/

/*h1 {
    font-size: clamp(1.8rem, 2.5vw + 1rem, 3rem);
    line-height: 1.2;
    margin-block: 1.2em 0.6em;
}

h2 {
    font-size: clamp(1.5rem, 1.8vw + 0.8rem, 2.2rem);
    line-height: 1.25;
    margin-block: 1.1em 0.5em;
}

h3 {
    font-size: clamp(1.25rem, 1.2vw + 0.7rem, 1.6rem);
    line-height: 1.3;
    margin-block: 1em 0.5em;
}

h4 {
    font-size: clamp(1.1rem, 0.9vw + 0.6rem, 1.3rem);
    line-height: 1.35;
    margin-block: 0.8em 0.4em;
}*/
