:root {
    font-size: 18px;
    font-family: "Fira Sans", Helvetica, sans-serif;
    background-color: #f0f2fa;
}

body {
    margin: auto;
}

.layout {
    display: flex;
    justify-content: center;
}

article {
    max-width: 800px;
    flex-grow: 1;

    h2,
    h3 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.2rem;
    }
}

aside {
    flex-shrink: 1;
    width: 256px;
    min-width: 192px;
}

.right-column {
    flex-shrink: 4;
}
